html,
body {
  height: 100%;
  background-color:black!important;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#cvs {
	margin-top:10%;
  width: 100%;
  height: auto;
  background-color: black;
}

.songlist-body {
    overflow-y: scroll;
    height: 700px;
}

.songListItem {
    color: #14B8A6;
    cursor: pointer;
}

.songListItem:hover {
  background-color: #F4F4F5;
  padding: .5rem 1rem;
  border-radius: .375rem;
}
