html,
body {
    height: 100%;
    background-color:black!important;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#cvs {
    margin-top:10%;
    width: 100%;
    height: auto;
    background-color: black;
}

.songlist-body {
    overflow-y: scroll;
    height: 700px;
}

.text-gray {
    color: #D4D4D8 !important;
}

.songListItem {
    color: inherit;
    padding: .5rem 1rem;
    cursor: pointer;
}

.songListItem:hover {
    color: #F4F4F5;
    background-color: #3F3F46;
    border-radius: .375rem;
}

.modal-header .close {
    color: inherit !important;
}

.close:hover {
    background-color: #3F3F46;
    padding: .25rem !important;
    border-radius: 50%;
}

.close:focus {
    outline: 0;
    border: 0;
}
